<super-navbar>
  <super-navbar-title>
    Supersonic kitchensink
  </super-navbar-title>
</super-navbar>

<div class="list">

  <div class="item item-divider">
    Sensors
  </div>

  <super-navigate view-id="sensors-geolocation" class="item item-icon-left item-icon-right">
    <i class="icon icon-accessory super-location"></i>
    Geolocation
    <i class="icon icon-accessory super-chevron-right"></i>
  </super-navigate>

  <super-navigate view-id="sensors-compass" class="item item-icon-left item-icon-right">
    <i class="icon icon-accessory super-compass"></i>
    Compass
    <i class="icon icon-accessory super-chevron-right"></i>
  </super-navigate>

</div>