
<super-navbar>
  <super-navbar-title>
    Buttons
  </super-navbar-title>
</super-navbar>

<div class="padding">
  <p>Welcome to In-text UI of Supersonic!</p>

  <p>With Supersonic you can use a major of UI components in your app. For example, you can use
  <button class="button">
    buttons
  </button> of   <button class="button button-light">
    different
  </button>   <button class="button button-stable">
    colors
  </button>   <button class="button button-positive">
    and
  </button>
  <button class="button button-calm">
    themes
  </button>.</p>

  <p>The buttons you are using can be block buttons and have full width.</p>

  <button class="button button-full button-positive">
    Full Width Block Button
  </button>

</div>
