<ss-navigation-bar>
  <ss-navigation-bar-title>
    Supersonic Kitchensinc
  </ss-navigation-bar-title>
</ss-navigation-bar>

<div class="padding">

<h2 class="title">Awesome stuff you can do with Supersonic</h2>

<ul class="list">
  <ss-magic action="click" navigate="/app/common/buttons.html">
    <li class="item">
      Buttons
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/common/list.html">
    <li class="item">
      List
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/common/range.html">
    <li class="item">
      Ranges
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/common/drawer.html">
    <li class="item">
      Drawer
    </li>
  </ss-magic>
</ul>

</div>
