
<super-navbar>
  <super-navbar-title>
    Supersonic Kitchensink
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <ul class="list">
    <div class="item item-divider">
      UI Elements
    </div>
    <super-navigate location="/app/common/buttons.html">
      <li class="item">
        Buttons
      </li>
    </super-navigate>
    <super-navigate location="/app/common/list.html">
      <li class="item">
        List
      </li>
    </super-navigate>
    <super-navigate location="/app/common/range.html">
      <li class="item">
        Ranges
      </li>
    </super-navigate>
    <div class="item item-divider">
      Web Components
    </div>
    <super-navigate location="/app/common/drawer.html">
      <li class="item">
        Drawer
      </li>
    </super-navigate>
    <super-navigate location="/app/common/navbar.html">
      <li class="item">
        Navigation Bar
      </li>
    </super-navigate>
    <super-navigate location="/app/common/magic-navigation.html">
      <li class="item">
        Magic Navigation
      </li>
    </super-navigate>
    <div class="item item-divider">
      MPA examples
    </div>
    <super-navigate location="/app/angular/animation.html">
      <li class="item">
        Animation
      </li>
    </super-navigate>
    <div class="item item-divider">
      Data features
    </div>
    <super-navigate location="/app/angular/comments.html">
      <li class="item">
        Comments
      </li>
    </super-navigate>
  </ul>

</div>
