<ss-navigation-bar>
  <ss-navigation-bar-title>
    Supersonic Kitchensinc
  </ss-navigation-bar-title>
</ss-navigation-bar>

<div class="padding">

<ul class="list">
  <div class="item item-divider">
    UI Elements
  </div>
  <ss-magic action="click" navigate="/app/common/buttons.html">
    <li class="item">
      Buttons
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/common/list.html">
    <li class="item">
      List
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/common/range.html">
    <li class="item">
      Ranges
    </li>
  </ss-magic>
  <div class="item item-divider">
    Web Components
  </div>
  <ss-magic action="click" navigate="/app/common/drawer.html">
    <li class="item">
      Drawer
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/common/navbar.html">
    <li class="item">
      Navigation Bar
    </li>
  </ss-magic>
  <div class="item item-divider">
    MPA examples
  </div>
  <ss-magic action="click" navigate="/app/angular/animation.html">
    <li class="item">
      Animation
    </li>
  </ss-magic>
  <div class="item item-divider">
    Data features
  </div>
  <ss-magic action="click" navigate="/app/angular/comments.html">
    <li class="item">
      Comments
    </li>
  </ss-magic>
</ul>

</div>
