<script>
  var openmodal = function() {

    var modalView = supersonic.ui.view("/app/common/modal.html");
    var options = {
      animate: true
    }

    supersonic.ui.modal.show(modalView, options);
  };
</script>

<style type="text/css">
input {
  border: none;
}
</style>

<super-navbar>
  <super-navbar-title>
    Magic Navigation
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <ul class="list">
    <super-navigate location="/app/common/buttons.html">
      <li class="item">
        Open layer
      </li>
    </super-navigate>

    <li class="item" onclick="openmodal()">
      Open modal
    </li>

  </ul>

</div>
