<script>
  var showNav = function() {
    document.querySelector('super-navbar').setAttribute("style", "display: block;");
  }

  var hideNav = function() {
    document.querySelector('super-navbar').setAttribute("style", "display: none;");
  }

  var setNavBarTitle = function() {
    var title = document.getElementById('navBarTitle').value;
    document.querySelector('super-navbar-title').innerHTML = title;
  }

  var removeNavBarTitle = function() {
    document.querySelector('super-navbar-title').innerHTML = '';
  }

</script>

<style type="text/css">
input {
  border: none;
}
</style>


<super-navbar>
  <super-navbar-title>
    Navigation Bar
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <h3 class="title">Toggle Navigation Bar</h3>

  <div class="button-bar">
    <button class="button button-positive" ontouchend="showNav()">SHOW NAV BAR</button>
    <button class="button button-assertive" ontouchend="hideNav()">HIDE NAV BAR</button>
  </div>

  <h3 class="title">Change Navigation Bar title</h3>

  <div class="list">
    <label class="item item-input">
      <input class="text" id="navBarTitle" placeholder="Navigation Bar title" />
    </label>
  </div>
  <div class="button-bar">
    <button class="button button-positive" ontouchend="setNavBarTitle()">SET TITLE</button>
    <button class="button button-assertive" ontouchend="removeNavBarTitle()">REMOVE TITLE</button>
  </div>

</div>
